<h1>Login</h1>

<%= flash[:message]  if flash[:message]%>

<%= form_for :user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>

   <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
   <br>
    <br>

  <%= f.submit "Login" %>

<% end %>