<h1> -My New Comicbook- </h1>

<h2> Title: <%=@comicbook.title%></h2>
<h2> Issue: <%=@comicbook.number%></h2>
<h2> Publisher: <%=@comicbook.title%></h2>
<h2> Writer: <%=@comicbook.writer%></h2>
<h2> Artist: <%=@comicbook.artist%></h2>


